* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
/* default styles */
html {
	-webkit-font-smoothing: antialiased !important;
}
body {
	font-size: 14px;
	line-height: 1.4;
	color: #000000;
	background-color: #ffffff;
}
:after,
:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul,
ol,
li {
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
}
ul {
	list-style: none;
}
.btn {
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.4;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
}

/* Roboto */
@font-face {
	font-family: 'robotoblack';
	src: url('./assets/fonts/roboto-black-webfont.woff2') format('woff2'),
		url('./assets/fonts/roboto-black-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'robotoblack_italic';
	src: url('./assets/fonts/roboto-blackitalic-webfont.woff2') format('woff2'),
		url('./assets/fonts/roboto-blackitalic-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'robotobold';
	src: url('./assets/fonts/roboto-bold-webfont.woff2') format('woff2'),
		url('./assets/fonts/roboto-bold-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'robotobold_italic';
	src: url('./assets/fonts/roboto-bolditalic-webfont.woff2') format('woff2'),
		url('./assets/fonts/roboto-bolditalic-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'robotoitalic';
	src: url('./assets/fonts/roboto-italic-webfont.woff2') format('woff2'),
		url('./assets/fonts/roboto-italic-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'robotolight';
	src: url('./assets/fonts/roboto-light-webfont.woff2') format('woff2'),
		url('./assets/fonts/roboto-light-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'robotolight_italic';
	src: url('./assets/fonts/roboto-lightitalic-webfont.woff2') format('woff2'),
		url('./assets/fonts/roboto-lightitalic-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'robotomedium';
	src: url('./assets/fonts/roboto-medium-webfont.woff2') format('woff2'),
		url('./assets/fonts/roboto-medium-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'robotomedium_italic';
	src: url('./assets/fonts/roboto-mediumitalic-webfont.woff2') format('woff2'),
		url('./assets/fonts/roboto-mediumitalic-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'robotoregular';
	src: url('./assets/fonts/roboto-regular-webfont.woff2') format('woff2'),
		url('./assets/fonts/roboto-regular-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'robotothin';
	src: url('./assets/fonts/roboto-thin-webfont.woff2') format('woff2'),
		url('./assets/fonts/roboto-thin-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'robotothin_italic';
	src: url('./assets/fonts/roboto-thinitalic-webfont.woff2') format('woff2'),
		url('./assets/fonts/roboto-thinitalic-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
/* open sans */
@font-face {
	font-family: 'open_sansbold';
	src: url('./assets/fonts/opensans-bold-webfont.woff2') format('woff2'),
		url('./assets/fonts/opensans-bold-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'open_sansbold_italic';
	src: url('./assets/fonts/opensans-bolditalic-webfont.woff2') format('woff2'),
		url('./assets/fonts/opensans-bolditalic-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'open_sansextrabold';
	src: url('./assets/fonts/opensans-extrabold-webfont.woff2') format('woff2'),
		url('./assets/fonts/opensans-extrabold-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'open_sansextrabold_italic';
	src: url('./assets/fonts/opensans-extrabolditalic-webfont.woff2') format('woff2'),
		url('./assets/fonts/opensans-extrabolditalic-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'open_sansitalic';
	src: url('./assets/fonts/opensans-italic-webfont.woff2') format('woff2'),
		url('./assets/fonts/opensans-italic-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'open_sanslight';
	src: url('./assets/fonts/opensans-light-webfont.woff2') format('woff2'),
		url('./assets/fonts/opensans-light-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'open_sanslight_italic';
	src: url('./assets/fonts/opensans-lightitalic-webfont.woff2') format('woff2'),
		url('./assets/fonts/opensans-lightitalic-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'open_sansregular';
	src: url('./assets/fonts/opensans-regular-webfont.woff2') format('woff2'),
		url('./assets/fonts/opensans-regular-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'open_sanssemibold';
	src: url('./assets/fonts/opensans-semibold-webfont.woff2') format('woff2'),
		url('./assets/fonts/opensans-semibold-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'open_sanssemibold_italic';
	src: url('./assets/fonts/opensans-semibolditalic-webfont.woff2') format('woff2'),
		url('./assets/fonts/opensans-semibolditalic-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

/* Typography */
h1 {
	font-family: 'open_sansregular';
	font-size: 48px;
}
h2 {
	font-family: 'open_sansregular';
	font-size: 44px;
}
h3 {
	font-family: 'open_sansregular';
	font-size: 38px;
}
h4 {
	font-family: 'open_sansregular';
	font-size: 34px;
}
h5 {
	font-family: 'open_sansregular';
	font-size: 30px;
}
h6 {
	font-family: 'open_sansregular';
	font-size: 26px;
}
p {
	font-family: 'open_sansregular';
	font-size: 19px;
}
a {
	text-decoration: none;
	font-family: 'open_sansregular';
	font-size: 19px;
	&:active {
		outline: none !important;
	}
	&:focus {
		outline: none !important;
	}
}
.container {
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
}
